/* Micro ClearFix Mixin */
.clearfix() {
  zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.shitty-paper(@borderWidth) {
  border-width: @borderWidth;
  border-image: url("../img/background/paper-border.png") 5% fill round;
  font-family: "Reenie Beanie", cursive;
  color: rgba(26, 26, 189, 0.8);
  font-size: 1.3em;
  text-shadow: 0 0 .1px rgba(0, 0, 0, 0.2);
  h1 {
    font-weight: bolder;
    text-align: center;
    color: rgba(128, 11, 17, 0.8);
    text-shadow: 0 0 3px rgba(199, 0, 13, 0.8),0 0 1px rgba(52, 0, 3, 0.80);
  }
  strong {
    text-decoration: underline;
    font-weight: normal;
  }
}

/* Main layout

```
<div class="game-container">
  <section id="map" class="layout placeholder-map">map</section>
  <div id="message-bar" class="layout">
    <section id="info-bar">info_bar</section>
    <section id="message-log">message-log</section>
  </div>
  <section id="message-modal" class="layout">message-modal</section>
  <section id="toolbar" class="toolbar layout"></section>
</div>
```
*/

body {
  margin: 0;
  padding: 0;
}

.game-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.layout {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  .clearfix;
  //  overflow: hidden;
  box-sizing: border-box;
  z-index: 1;
}

#map {
  z-index: 0;
}

#sidebar {
  right: 70%;
  bottom: 20%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#message-bar {
  left: 80%;
  bottom: auto;
}

#message-modal {
  left: 80%;
  bottom: auto;
}

#toolbar {
  top: 90%;
}

/* Project management layout

```
<section class="project-manager layout">
  <section class="all-projects layout">
    <section class="panel">
      <header><h1><span>Secure area</span> <span>0</span>%</h1></header>
      <section class="drag-target">
        <section>
          <section class="icon">
            <img class="portrait" src="../../img/portraits/placeholder.png" alt="Someone">

            <div data-bind="text: name">Maria</div>
          </section>
          <section class="icon">
            <img class="portrait" src="../../img/portraits/placeholder.png" alt="Someone">

            <div data-bind="text: name">Vera</div>
          </section>
          <section class="icon">
            <img class="portrait" src="../../img/portraits/placeholder.png" alt="Someone">

            <div data-bind="text: name">Maximilian</div>
          </section>
        </section>
      </section>
    </section>
    <section class="panel">
      <header><h1><span>Secure area</span> <span>0</span>%</h1></header>
    </section>
  </section>
  <section class="favorite-projects layout">
    <section class="panel">
      <header><h1><span>Secure area</span> <span>0</span>%</h1></header>
    </section>
  </section>
  <section class="unassigned-characters layout">
    <section class="icon">
      <img src="../../img/portraits/placeholder.png" alt="Someone"/>

      <div>Tim</div>
    </section>

    <section class="icon">
      <img src="../../img/portraits/placeholder.png" alt="Someone"/>

      <div>Edward</div>
    </section>

    <section class="icon">
      <img src="../../img/portraits/placeholder.png" alt="Someone"/>

      <div>Felicia</div>
    </section>

    <section class="icon">
      <img src="../../img/portraits/placeholder.png" alt="Someone"/>

      <div>Jack</div>
    </section>

    <section class="icon">
      <img src="../../img/portraits/placeholder.png" alt="Someone"/>

      <div>Isabella</div>
    </section>
  </section>
  <section class="current-selection layout">
    <section class="panel">
      <header><h1>Tile</h1></header>
      <section>
        <div class="grass image tile"></div>
        <p>a tile</p>
      </section>
      <footer>
        <div>(<span>0</span>, <span>0</span>)</div>
      </footer>
    </section>
  </section>
  <section class="resources layout">
    <section>
      <div class="resource">
        <span class="name">Wood</span>:
        <span class="amount">20</span>
      </div>

      <div class="resource">
        <span class="name">Metal</span>:
        <span class="amount">2</span>
      </div>

      <div class="resource">
        <span class="name">Scrap</span>:
        <span class="amount">5</span>
      </div>
    </section>
  </section>
</section>
```
*/

.project-manager {
  @leftColumn: 40%;
  @middleColumn: 40%;
  @rightColumn: 100% - @leftColumn - @middleColumn;
  @horizontalBreak: 70%;
  > .all-projects {
    right: @middleColumn + @rightColumn;
    bottom: 100% - @horizontalBreak;
  }
  > .favorite-projects {
    left: @leftColumn;
    right: @rightColumn;
    bottom: 100% - @horizontalBreak;
  }
  > .unassigned-characters {
    left: @leftColumn + @middleColumn;
  }
  > .current-selection {
    right: @middleColumn + @rightColumn;
    top: @horizontalBreak;
  }
  > .resources {
    left: @leftColumn;
    right: @rightColumn;
    top: @horizontalBreak;
  }
  .drag-target {
    min-height: 100px;
  }
}

/* Context menu
```
<div id="context_menu_widget">
  <ul>
    <li>Plant field</li>
    <li>Patrol</li>
    <li>Undergo metamorphosis</li>
  </ul>
</div>
```
*/
#context_menu_widget {
  z-index: 999;
  position: fixed;
  border: 1px solid #666;
  background-color: #eee;
  min-width: 150px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    li {
      text-align: left;
      padding: 3px 10px 3px 5px;
      margin: 0;
      cursor: pointer;
      text-decoration: none;
      color: #333;
      font-size: 12px;
      font-weight: bold;
    }
    li.selected,
    li:hover {
      color: #fff;
      background-color: #3875d7;
      cursor: pointer;
    }
    li.selected:hover {
      color: #333;
      background-color: #eee;
      cursor: pointer;
    }
    li.disabled,
    li:hover.disabled {
      background-color: #eee;
      color: #999;
      cursor: pointer;
    }
  }
}

/* A basic panel that contains a block of information

```
<section class="panel">
  <header><h1>Zombie ipsum</h1></header>
  <section>
    <p>Reversus ab viral inferno, nam rick grimes malum cerebro. De
      carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? </p>

    <p>Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat
      cerebella viventium. </p>
  </section>
  <footer>De apocalypsi gorger omero undead survivor dictum mauris.</footer>
</section>
```
*/
.panel {
  .clearfix;
  max-height: 100%;
  background: url("../img/background/blackboard.png") repeat;
  color: #ffffff;
  font-family: "Coming Soon", cursive;
  border: 4px solid rgba(75, 75, 75, 0.76);
  border-radius: 2px;
  padding: 6px;
  section::before,
  footer::before {
    content: "";
    display: block;
    width: 75%;
    height: 5px;
    background: rgba(60, 60, 60, 0.50);
    margin: auto;
    border-radius: 2px;
    margin-bottom: .75em;
  }
  footer {
    font-size: small;
  }
}

/* A block of buttons

```
<div class="btn-group">
  <button class="btn action-end-turn">End turn</button>
  <button class="btn action-something-else">Something else</button>
  <button class="btn action-another-thing">Another thing</button>
</div>
```
*/

/* A message list displaying without context
This is just the _common_ display functionality of all message lists; it will ususally have a
context as well; for instance message-list-log or message-list-modal .

```
<ol class="message-list">
  <li>
    <span class="time">21:17:36</span><span>Stuff happened!</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span>Turn started: 1</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span>Turn started: 2</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span>Turn started: 3</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span>Turn started: 4</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span>The last thing happened.</span>
  </li>
</ol>
```
*/
.message-list {
  list-style: none;
  padding: 0 0 4em 0;
  margin: 0;
  > li {
    margin: .5em .5em;
    padding: 1.25em .5em .5em;
    position: relative;

    .time {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

/* A message list displaying a log

```
<ol class="message-list message-list-log">
  <li>
    <span class="time">21:17:36</span><span>Stuff happened!</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span>Turn started: 1</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span>Turn started: 2</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span>Turn started: 3</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span>Turn started: 4</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span>The last thing happened.</span>
  </li>
</ol>
```
*/

.message-list-log {
  padding: 0 0 4em 0;
  margin: 0;
  > li {
    margin: .5em .5em -2em;
    padding: 1.25em .5em .5em;
    @borderWidth: 10px;
    position: relative;
    .shitty-paper(@borderWidth);

    // Reduce repetition using cicada principle
    & {
      transform: rotate(-1deg);
    }
    &:nth-child(2n) {
      transform: rotate(2.75deg);
    }
    &:nth-child(3n) {
      transform: rotate(-2.5deg);
    }
    &:nth-child(5n) {
      transform: rotate(-4.5deg);
    }
    &:nth-child(7n) {
      transform: rotate(2.5deg);
    }
    z-index: 1;
    &:hover {
      z-index: 5;
    }
  }
}

/* Message list opened in modal
```
<ol class="message-list message-list-modal">
  <li class="important">
    <h1>Game Over!</h1>
    <section>
      <p>As the sun rises, you look at the few remaining survivors. So few; not enough to defend the
        smallest of bases.
      </p>

      <p>During the day, you collect what supplies you can and set off, hoping to outrun the
        hordes.
      </p>

      <p>In your heart, though, you know that humanity cant survive as roving nomads.</p>

      <p><strong>You have failed.</strong></p>
    </section>
  </li>
</ol>
```
*/

.message-list-modal {
  .shitty-paper(20px);
}

/* The modal that opens other pages

```
<div class="placeholder-map layout">
  <div class="modal-backdrop">
    <div class="modal-close">✗</div>
    <div class="modal-shadow">
      <div class="modal-content">
        <div style="min-height: 400px; min-width: 400px; background: #f5f5f5">Some stuff that is in the modal</div>
      </div>
    </div>
  </div>
</div>
```
*/

.modal-backdrop {
  @paddingSize: 90px;
  @shadowOffset: 20px;
  @shadowBlur: 20px;
  @shadowSpread: 5px;
  @shadowColour: rgba(0, 0, 0, 0.55);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: @paddingSize;
  z-index: 500;
  background: rgba(46, 46, 46, 0.80);

  .modal-content {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
//    background: #f5f5f5;
    background: transparent;
    position: relative;
    overflow: hidden;
    top: -@shadowOffset;
    left: -@shadowOffset;
//    top: 0;
//    left: 0;
  }
  .modal-shadow {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: @shadowColour;
    top: @shadowOffset;
    left: @shadowOffset;
    box-shadow: 0 0 @shadowBlur @shadowSpread @shadowColour;
    position: relative;
    overflow: visible;
  }
  @buttonSize: 30px;
  .modal-close {
    position: absolute;
    right: @paddingSize - @buttonSize/2;
    top: @paddingSize  - @buttonSize/2;
    width: @buttonSize;
    height: @buttonSize;
    line-height: @buttonSize;
    font-size: @buttonSize;
    vertical-align: middle;
    text-align: center;
    color: #ff0000;
    background: transparent;
    cursor: pointer;
    &:hover {
      color: darkred;
    }
  }
}

/*
An icon

```
<section class="icon">
  <img src="../../img/portraits/placeholder.png" alt="Someone"/>

  <div>Livia</div>
</section>
```
*/

/*
Several icons

```
<section class="icon">
  <img src="../../img/portraits/placeholder.png" alt="Someone"/>

  <div>Livia</div>
</section>
<section class="icon">
  <img src="../../img/portraits/placeholder.png" alt="Someone"/>

  <div>Donald</div>
</section>
<section class="icon">
  <img src="../../img/portraits/placeholder.png" alt="Someone"/>

  <div>Olexi</div>
</section>
<section class="icon">
  <img src="../../img/portraits/placeholder.png" alt="Someone"/>

  <div>Mona</div>
</section>
<section class="icon">
  <img src="../../img/portraits/placeholder.png" alt="Someone"/>

  <div>Therese</div>
</section>
```
*/

.icon {
  float: left;
  margin: 5px;
  img {
    @iconImageSize: 60px;
    max-width: @iconImageSize;
    max-height: @iconImageSize;
  }
}

/*
A character, medium size presentation

```
<section class="character-medium">
  <div class="main">
    <img class="portrait" src="../../img/portraits/placeholder.png" alt="Someone">

    <div>Isabella</div>
  </div>
  <table class="attributes">
    <tbody>
      <tr>
        <th class="attr-name">combat</th>
        <td class="attr-value">12</td>
      </tr>
      <tr>
        <th class="attr-name">labour</th>
        <td class="attr-value">9</td>
      </tr>
      <tr>
        <th class="attr-name">knowledge</th>
        <td class="attr-value">10</td>
      </tr>
    </tbody>
  </table>
  <div class="health-bar-vert">
    <div class="value" style="height: 100%;">
    </div>
  </div>
</section>
```
*/

.character-medium {
  .clearfix;
  img {
    @portraitImageSize: 100px;
    max-width: @portraitImageSize;
    max-height: @portraitImageSize;
  }
  .main, .attributes, .health-bar-vert {
    float: left;
    margin: 0;
    padding: 0;
  }
  .attributes {
    .attr-name {
      font-weight: normal;
      text-align: right;
    }
    .attr-value {
      font-weight: normal;
      text-align: right;
      font-family: "Courier New", Courier, monospace;
    }
  }
}

/* Vertical health bars
.health-bar-vert > .value height is set by code

```
<div class="health-bar-vert"><div class="value" style="height: 100%"></div></div>
<div class="health-bar-vert"><div class="value" style="height: 80%"></div></div>
<div class="health-bar-vert"><div class="value" style="height: 50%"></div></div>
<div class="health-bar-vert"><div class="value" style="height: 10%"></div></div>
```
*/

.health-bar-vert {

  width: 10px;
  height: 100px;
  padding: 0;
  background: red;
  display: inline-block;
  position: relative;
  .value {
    width: 100%;
    padding: 0;
    margin: 0;
    background: darkgreen;
    position: absolute;
    bottom: 0;
  }
}

/* A time

```
<span class="time">21:17:36</span>
```
*/

/* A block resource

```
<div class="resource">
  <span class="name" >Wood</span>: <span class="amount">24</span>
</div>
```
*/

/* An inline resource

```
<span class="resource"><span class="name" >Wood</span>: <span class="amount">20</span></span>
```
*/

/* A coordinate

```
<span class="coordinate">(<span class="x">3</span>, <span class="y">7</span>)</span>
```
*/

/* Google fonts

```
<div class="font-test">
  <section style="font-family: 'Reenie Beanie', cursive;">
    <h1>Reenie Beanie</h1>
    <p>Reversus ab viral inferno, nam rick grimes malum cerebro. De
      carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? </p>

    <p>Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat
      cerebella viventium. </p>
  </section>
  <section style="font-family: 'Coming Soon', cursive;;">
    <h1>Coming Soon</h1>
    <p>Reversus ab viral inferno, nam rick grimes malum cerebro. De
      carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? </p>

    <p>Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat
      cerebella viventium. </p>
  </section>
</div>
```
*/
@import url("http://fonts.googleapis.com/css?family=Coming+Soon|Reenie+Beanie&subset=latin,latin-ext");

/*
An element that is used to show a substitute for the map in this documentation.

```
<div class="placeholder-map" style="min-height: 400px; min-width: 400px;"></div>
```
*/
.placeholder-map {
  background: repeat url("../docs/placeholder_map.jpg");
}

/*
Drag n drop interactions
*/

.mugd-dragged {
  z-index: 599;
}
