/* Main layout

```
<div class="game-container">
  <section id="map" class="layout">map</section>
  <div class="layout" id="sidebar">
    <section id="current_selection_info">current_selection_info</section>
    <section id="project_overview">project_overview</section>
  </div>
  <div id="message-bar" class="layout">
    <section id="info-bar">info_bar</section>
    <section id="message-log">message-log</section>
  </div>
  <section id="toolbar" class="toolbar layout"></section>
</div>
```
*/

body {
  margin: 0;
  padding: 0;
}

.game-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layout {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1;
}

#map {
  z-index: 0;
}

#sidebar {
  right: 70%;
  bottom: 20%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#message-bar {
  left: 80%;
  bottom: auto;
}

#toolbar {
  top: 90%;
}

/* Context menu
```
<div id="context_menu_widget">
  <ul>
    <li>Plant field</li>
    <li>Patrol</li>
    <li>Undergo metamorphosis</li>
  </ul>
</div>
```
*/
#context_menu_widget {
  z-index: 999;
  position: fixed;
  border: 1px solid #666;
  background-color: #eee;
  min-width: 150px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    li {
      text-align: left;
      padding: 3px 10px 3px 5px;
      margin: 0;
      cursor: pointer;
      text-decoration: none;
      color: #333;
      font-size: 12px;
      font-weight: bold;
    }
    li.selected,
    li:hover {
      color: #fff;
      background-color: #3875d7;
      cursor: pointer;
    }
    li.selected:hover {
      color: #333;
      background-color: #eee;
      cursor: pointer;
    }
    li.disabled,
    li:hover.disabled {
      background-color: #eee;
      color: #999;
      cursor: pointer;
    }
  }
}

/* A basic panel that contains a block of information

```
<section class="panel">
  <header><h1>Zombie ipsum</h1></header>
  <section>
    <p>Reversus ab viral inferno, nam rick grimes malum cerebro. De
      carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? </p>

    <p>Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat
      cerebella viventium. </p>
  </section>
  <footer>De apocalypsi gorger omero undead survivor dictum mauris.</footer>
</section>
```
*/
.panel {
  max-height: 100%;
  background: url("../img/background/blackboard.png") repeat;
  color: #ffffff;
  font-family: 'Coming Soon', cursive;
  border: 4px solid rgba(75, 75, 75, 0.76);
  border-radius: 2px;
  padding: 6px;
  section::before,
  footer::before {
    content: '';
    display: block;
    width: 75%;
    height: 5px;
    background: rgba(60, 60, 60, 0.50);
    margin: auto;
    border-radius: 2px;
    margin-bottom: .75em;
  }
  footer {
    font-size: small;
  }
}

/* A block of buttons

```
<div class="btn-group">
  <button class="btn action-end-turn">End turn</button>
  <button class="btn action-something-else">Something else</button>
  <button class="btn action-another-thing">Another thing</button>
</div>
```
*/

/* A message list

```
<ol class="message-list">
  <li>
    <span class="time">21:17:36</span><span>Stuff happened!</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span data-bind="html: html">Turn started: 1</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span data-bind="html: html">Turn started: 2</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span data-bind="html: html">Turn started: 3</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span data-bind="html: html">Turn started: 4</span>
  </li>
  <li>
    <span class="time">21:17:37</span><span data-bind="html: html">The last thing happened.</span>
  </li>
</ol>
```
*/

.message-list {
  font-family: 'Reenie Beanie', cursive;
  list-style: none;
  color: #1717be;
  font-size: 120%;
  padding: 0;
  margin: 0;
  > li {
    width: 140px;
    height: 50px;
    margin: .5em .5em -2em;
    padding: 1.25em .5em .5em;
    background: url("../img/background/paper.png") no-repeat;
    position: relative;
    border: 2px solid rgba(46, 46, 46, 0.67);
    .time {
      position: absolute;
      top: 0;
      left: 0;
    }
    & {
      transform: rotate(-1deg);
    }
    &:nth-child(2n) {
      transform: rotate(2.75deg);
    }
    &:nth-child(3n) {
      transform: rotate(-2.5deg);
    }
    &:nth-child(5n) {
      transform: rotate(-4.5deg);
    }
    &:nth-child(7n) {
      transform: rotate(2.5deg);
    }
    z-index: 1;
    &:hover {
      z-index: 5;
    }
  }
}

/* The modal that opens other pages

```
<div class="modal-backdrop">
  <div class="modal-close">✗</div>
  <div class="modal-content">Some stuff that is in the modal</div>
</div>
```
*/

.modal-backdrop {
  @paddingSize: 90px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: @paddingSize;
  z-index: 500;
  background: rgba(46, 46, 46, 0.80);
  .modal-content {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #f5f5f5;
    box-shadow: 20px 20px 20px 5px rgba(0,0,0,0.55);
  }
  @buttonSize: 30px;
  .modal-close {
    position: absolute;
    right: @paddingSize - @buttonSize/2;
    top: @paddingSize  - @buttonSize/2;
    width: @buttonSize;
    height: @buttonSize;
    line-height: @buttonSize;
    font-size: @buttonSize;
    vertical-align: middle;
    text-align: center;
    color: #ff0000;
    background: transparent;
    cursor: pointer;
    &:hover {
      color: darkred;
    }
  }
}

/* A time

```
<span class="time">21:17:36</span>
```
*/

/* A block resource

```
<div class="resource">
  <span class="name" >Wood</span>: <span class="amount">24em</span>
</div>
```
*/

/* An inline resource

```
<span class="resource"><span class="name" >Wood</span>: <span class="amount">20</span></span>
```
*/

/* A coordinate

```
<span class="coordinate">(<span class="x">3</span>, <span class="y">7</span>)</span>
```
*/

/* Google fonts

```
<div class="font-test">
  <section style="font-family: 'Reenie Beanie', cursive;">
    <h1>Reenie Beanie</h1>
    <p>Reversus ab viral inferno, nam rick grimes malum cerebro. De
      carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? </p>

    <p>Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat
      cerebella viventium. </p>
  </section>
  <section style="font-family: 'Coming Soon', cursive;;">
    <h1>Coming Soon</h1>
    <p>Reversus ab viral inferno, nam rick grimes malum cerebro. De
      carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? </p>

    <p>Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat
      cerebella viventium. </p>
  </section>
</div>
```
*/
@import url("http://fonts.googleapis.com/css?family=Coming+Soon|Reenie+Beanie&subset=latin,latin-ext");