@tileWidth: 72px;
@tileHeight: 72px;
//@basicBackground: Linen;
@basicBackground: transparent;
@darkerBackground: #eae0d6;
@borderColour: AntiqueWhite;

.game_container {
  @startColour: #ebeadf;
  @endColour: #faf0e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@startColour), to(@endColour));
  background-image: -webkit-linear-gradient(top, @startColour, @endColour);
  background-image: -moz-linear-gradient(top, @startColour, @endColour);
  background-image: -o-linear-gradient(top, @startColour, @endColour);
  background-image: linear-gradient(to bottom, @startColour, @endColour);

  h1 { margin: 0; padding: 0; }
  font-family: "Lucida Grande", Verdana, "Sans-Serif";
  font-size: 13px;

  > .layout {
    border: 2px @borderColour inset;
  }
  .layout {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
  }

  .scrollable {
    position: absolute;
  }

  @leftHorizontalFold: 500px;
  @rightHorizontalFold: 400px;
  @verticalFold: 700px;
  @infobarHeight: 20px;
  @toolbarHeight: 30px;
  @height: 700px;
  @width: 900px;
  width: @width;
  height: @height;

  #map {
    font-size: xx-small;
    top: @infobarHeight;
    right: @width - @verticalFold;
    bottom: @height - @leftHorizontalFold;
    left: 0;
    background-color: #000000;
  }

  #message_log {
    top: @leftHorizontalFold;
    right: @width - @verticalFold;
    bottom: @toolbarHeight;
    left: 0;
    background-color: @basicBackground;
    padding: 2px;
  }

  #toolbar {
    left: 0;
    right: 0;
    bottom: 0;
    height: @toolbarHeight;
    background-color: @darkerBackground;
    border: none;
  }

  #info_bar {
    top: 0;
    right: 0;
    height: @infobarHeight;
    left: 0;
    background-color: @darkerBackground;
    border: none;
  }

  #current_selection_info {
    top: @rightHorizontalFold;
    right: 0;
    bottom: @toolbarHeight;
    left: @verticalFold;
    background-color: @basicBackground;
  }

  #project_overview {
    top: @infobarHeight;
    right: 0;
    bottom: @height - @rightHorizontalFold;
    left: @verticalFold;
    background-color: @basicBackground;
  }

  .map_widget {
    cursor: default;
    .focusedTile { z-index: 50; border-color: red; }
  }

  .tile {
    width: @tileWidth;
    height: @tileHeight;
    background: no-repeat center center;
    border: 1px solid transparent;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    .center_text { line-height: 72px; text-align: center; vertical-align: middle; }
    &.grass { background-image: url("../img/grass.png"); }
    &.water { background-image: url("../img/water.png"); }
    &.hills { background-image: url("../img/hill.png"); }
    &.unknown { background-image: url("../img/void.png"); }
  }

  .message_list {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    overflox-y: scroll;
    > li {
    }
  }

  .time {
    font-size: smaller;
    color: #444444;
  }

  #context_menu_widget {
    z-index: 999;
    position: fixed;
    border: 1px solid #666;
    background-color: #eee;
    min-width: 150px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      li {
        text-align: left;
        padding: 3px 10px 3px 5px;
        margin: 0;
        cursor: pointer;
        text-decoration: none;
        color: #333;
        font-size: 12px;
        font-weight: bold;
      }
      li.selected,
      li:hover {
        color: #fff;
        background-color: #3875d7;
        cursor: pointer;
      }
      li.selected:hover {
        color: #333;
        background-color: #eee;
        cursor: pointer;
      }
      li.disabled,
      li:hover.disabled {
        background-color: #eee;
        color: #999;
        cursor: pointer;
      }
    }
  }

  #toolbar_widget {
    height: 100%;
    > ul {
      display: block;
      height: 100%;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        min-width: 5em;
        height: 100%;
        border: 1px solid gray;
        border-radius: 6px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

        :hover {
          text-decoration: none;
        }
        :active {
          position: relative;
          top: 1px;
        }
      }
    }

  }

  .terrain_card {
    @cardHeaderHeight: 30px;
    @cardFooterHeight: 20px;
    header {
      top: 0;
      left: 0;
      right: 0;
      height: @cardHeaderHeight;
      vertical-align: top;
      font-size: 1.2em;
      padding: 2px 4px;
    }
    .body {
      top: @cardHeaderHeight;
      bottom: @cardFooterHeight;
      width: 100%;
      .image {
        position: static;
        float: right;
        margin: 4px 0;
      }
      padding: 2px 4px;
    }
    footer {
      bottom: 0;
      left: 0;
      right: 0;
      height: @cardFooterHeight;
      text-align: right;
      vertical-align: bottom;
      font-size: .8em;
      padding: 2px 4px;
    }
  }

  position: relative;
  border: 2px outset @borderColour;
}

@cardWidth: 25em;
@labelWidth: 10em;
.ruleset_editor {
  .source_selector {
    label {
      display: table-row;
      > * {
        display: table-cell;
      }
      > input { width: 40em; }
    }
  }
  .card {
    margin: 1em;
    padding: 1em;
    border: 1px solid #696969;
    width: @cardWidth;
    .label {
      width: @labelWidth;
    }
    .value {
      width: (@cardWidth - @labelWidth);
    }
    .cell {
      display: inline-block;
    }
  }
  label.line {
    display: block;
  }
}

